<form action="createTopic" method="post">
    <label for="topicName">Name of topic</label>
    <input type="text" name="topicName" id="text"><br>
    <label for="topicDescription">Description of topic</label>
    <input type="text" name="topicDescription" id="text">
    <input type="submit" value="Create!">
</form>