<form action="createPost" method="post">
    <input type="text" name="author" id="author">
    <input type="text" name="postName" id="text">
    <input type="text" name="postText" id="text">
    <input type="submit" value="lol">
</form>