<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/topics.css">
    <title>Topics</title>
</head>
<body>
    <nav class="navbr">

    </nav>

    <article>
        <a href="topics/create">create new one!</a>
        <% for (let i = 0; i < topicData.length; i++) { %>
            <% const element = topicData[i]; %>
            <a class="topicLink" href="topics/<%= element.addressName %>">
                <div class="topicContainer">
                        <div class="topicLinkText"></div>
                        <h1>            
                            <%= element.topicName %>
                        </h1>
                        <p>
                            <%= element.topicDescription %>
                        </p>
                    
                </div>
            </a>
            <% } %>
                
    </article>
</body>
</html>