<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posting on t/<%= topicName %> </title>
</head>
<body>
    <form action="post">
        <input type="text" name="postName" id="postName">
        <textarea name="text" id="" cols="30" rows="10"></textarea>
        <input type="file" name="postMedia" id="postMedia">
        <input type="submit" value="POST!">
        </form>
</body>
</html>